/* Got some non Bootstrap styles because I really like RYM style for this type of thing */
.rym-art-col {
    width: 120px;
    flex-shrink: 0;
}
.rym-art-img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.rym-link {
    text-decoration: none;
    color: #0d6efd;
    font-weight: bold;
}
.rym-link:hover {
    text-decoration: underline;
    color: #0a58ca;
}

.album-cover {                                      /*All covers are the same size*/
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}