{{>header}}
        <!-- LOGIN FORM -->
    <div class="container d-flex justify-content-center align-items-center" 
        style="min-height: 85vh;">

        <div class="card shadow p-4" style="max-width: 420px; width: 100%;">
            <h2 class="text-center mb-4 fw-bold">Panel de administrador</h2>

            <form>

                <div class="d-flex justify-content-center gap-3 mb-5">
                    <a href="post_listing" class="btn btn-outline-primary">Ver posts</a>  
                    <a href="album_listing" class="btn btn-outline-primary">Ver álbumes</a>
                    <a href="user_listing" class="btn btn-outline-primary">Ver usuarios</a>
                </div>

            </form>

        </div>

    </div>
    </main>

    {{>footer}}