{{>header}}

<div class="container mb-5">
    <h1 class="text-center my-5">Mis Posts</h1>

    <div class="row g-4">

        {{#posts}}
        <!-- Every post-->
        <div class="col-md-4 col-sm-6">
            <div class="card h-100 shadow-sm">
                <div class="ratio ratio-1x1 bg-light border-bottom">
                    <img src="/posts/{{id}}/image" onerror="this.src='/images/default.jpg';" class="card-img-top p-2"
                        alt="Portada de {{title}}" style="object-fit: contain;">
                </div>

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{title}}</h5>
                    <p class="card-text text-truncate" style="max-height: 3rem;">
                        {{description}}
                    </p>

                    <div class="mt-auto">
                        <!-- Post_view  link -->
                        <a href="/post/{{id}}" class="btn btn-primary btn-sm">Ver post</a>

                        <!-- Delete quest -->
                        <form action="/post/{{id}}/delete" method="POST" class="d-inline">
                            <input type="hidden" name="_csrf" value="{{token}}">

                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <!--delete button-->
                                <i class="bi bi-trash"></i> Eliminar
                            </button>
                        </form>

                        <a href="/editpost/{{id}}" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-pencil"></i> Editar
                        </a>

                    </div>
                </div>

                <div class="card-footer bg-transparent border-top-0">
                    <small class="text-muted">
                        <i class="bi bi-person"></i> Autor:
                        <strong>
                            {{#user}}{{username}}{{/user}}
                        </strong>
                    </small>
                    <br>
                    <small class="text-muted italic">{{date}}</small>
                </div>
            </div>
        </div>
        {{/posts}}

        <!-- If there is no post in the database-->
        {{^posts}}
        <div class="col-12 text-center my-5">
            <div class="alert alert-info">
                Aún no tienes post publicados.
            </div>
        </div>
        {{/posts}}

    </div>
</div>

{{>footer}}